.contact {
    background: linear-gradient(135deg, rgba(36, 11, 54, 1) 0%, rgba(58, 18, 85, 1) 50%, rgba(97, 37, 117, 1) 100%);
    height: 100vh;
    padding-top: 100px;
}

#contactTitle {
    font-family: "Jersey 10", sans-serif;
    color: rgb(191, 189, 189);
    letter-spacing: 3px;
}

#sendMessageBtn {
    margin-top: 100px;
}

.mylinks {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-decoration: none;
    margin-top: 300px;
    padding-right: 30px;

    & a {
        margin: 1rem;
        text-decoration: none;
        color: rgb(191, 189, 189);
        font-size: 2.2rem;

        &:hover {
            color: rgb(241, 228, 228);
        }
    }

    ;

}

@media screen and (max-width: 768px) {
    .contact {
        background-color: rgb(51, 42, 57);
        height: 100vh;
        padding-top: 70px;
    }
    .textArea {
        margin-top: 1rem;

    }

    #message {
        height: 80px;
    }

    .mylinks {
        flex-wrap: wrap;
        position: absolute;
        bottom: 25px;
    }

    #name,
    #email,
    #phoneNumber,
    #message::placeholder {
        font-size: 0.8rem;
    }
    #message{
        margin-bottom: 2px;
    }
    #sendMessageBtn {
        margin-top: 5px;
        font-size: 0.8rem;
        padding: 0.5rem 0.8rem;
    }
}