@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Jacquarda+Bastarda+9+Charted&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jacquard+24&family=Jacquarda+Bastarda+9+Charted&family=Jersey+10&family=Jersey+20+Charted&display=swap');

$text-color-red: #ff0000;
$text-color-white: #ffffff;
$text-color-black: #000000;
$bg-color-orange: #f6b96a;

.logo{
  font-family: 'Jacquard 24', serif;
  font-size: 2rem;
  font-weight: bold;
}
.logo span {
  color: red;
}
.me-auto {
  font-family: "Jersey 10", sans-serif;
  font-size: 2rem;
  & a:hover {
    color: red;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .me-auto {
    font-family: "Jersey 10", sans-serif;
    font-size: 1.2rem;
  }
  
}