@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
.load {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7bf3eb;
    height: 100vh;

}
.coming-soon {
    font-family: "Workbench", sans-serif;
    font-size: 1.5rem;
    // margin-top: 14rem;
}
// .study {
//     width: 300px;
//     height: 300px;
//     margin-top: 3rem;
// }
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #798db5;
    color: white;
    font-size: 1rem;
    font-family: "Rubik Scribble", system-ui;
    font-weight: 600;
}
.loader-container {
    margin-bottom: 1rem;
    position: relative;
    bottom: 200px;
    width: 100%;
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
}

.loader {
    // margin-top: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.55, 0.3, 0.24, 0.99);
}

.loader:nth-child(1) {
    width: 160px;
    height: 100px;
    margin-left: -80px;
    margin-top: -50px;
    background: #1e3f57;
    animation-name: dot1_;
}

.loader:nth-child(2) {
    width: 150px;
    height: 90px;
    margin-left: -75px;
    margin-top: -45px;
    background: #3c517d;
    animation-name: dot2_;
}

.loader:nth-child(3) {
    width: 40px;
    height: 20px;
    margin-left: -20px;
    margin-top: 50px;
    background: #6bb2cd;
    animation-name: dot3_;
}

@keyframes dot1_ {

    3%,
    97% {
        width: 160px;
        height: 100px;
        margin-top: -50px;
        margin-left: -80px;
    }

    30%,
    36% {
        width: 80px;
        height: 120px;
        margin-top: -60px;
        margin-left: -40px;
    }

    63%,
    69% {
        width: 40px;
        height: 80px;
        margin-top: -40px;
        margin-left: -20px;
    }
}

@keyframes dot2_ {

    3%,
    97% {
        height: 90px;
        width: 150px;
        margin-left: -75px;
        margin-top: -45px;
    }

    30%,
    36% {
        width: 70px;
        height: 96px;
        margin-left: -35px;
        margin-top: -48px;
    }

    63%,
    69% {
        width: 32px;
        height: 60px;
        margin-left: -16px;
        margin-top: -30px;
    }
}

@keyframes dot3_ {

    3%,
    97% {
        height: 20px;
        width: 40px;
        margin-left: -20px;
        margin-top: 50px;
    }

    30%,
    36% {
        width: 8px;
        height: 8px;
        margin-left: -5px;
        margin-top: 49px;
        border-radius: 8px;
    }

    63%,
    69% {
        width: 16px;
        height: 4px;
        margin-left: -8px;
        margin-top: -37px;
        border-radius: 10px;
    }
}