@import "./Components/Load/Load.scss";
@import "./Components/Navbar/Navbar.scss";
@import "./Components/Main/Main.scss";
@import "./Pages/Technologies/Technologies.scss";
@import "./Pages/Projects/Projects.scss";
@import "./Components/Footer/Footer.scss";
@import "./Pages/Contact/Contact.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}